<h1><%= @restaurant.name.capitalize %></h1>

<p>Address : <%= @restaurant.address %> <br/>
Phone : <%= @restaurant.phone_number %> <br/>
Category : <%= @restaurant.category %>
</p>

<p>
<%= link_to "Write a review for " + @restaurant.name.capitalize, new_restaurant_review_path(@restaurant) %>
</p>
<p>
<%= link_to "Back to home page", restaurants_path %>
</p>
